{% extends "base.html" %}
{% block title %}Detalii Transfer{% endblock %}
{% block content %}
<div class="page-header d-flex justify-content-between">
    <h4><i class="bi bi-arrow-left-right me-2 text-primary"></i>Transfer #{{ transfer.id }}</h4>
    <a href="/transferuri/" class="btn btn-outline-secondary btn-sm"><i class="bi bi-arrow-left me-1"></i>Inapoi</a>
</div>
<div class="row g-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-5">Data:</dt><dd class="col-7">{{ transfer.data }}</dd>
                    <dt class="col-5">De la:</dt><dd class="col-7 text-danger fw-semibold">{{ transfer.sursa_nume }}</dd>
                    <dt class="col-5">Catre:</dt><dd class="col-7 text-success fw-semibold">{{ transfer.destinatie_nume }}</dd>
                    <dt class="col-5">Document:</dt><dd class="col-7">{{ transfer.nr_document or '-' }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body p-0">
                <table class="table mb-0">
                    <thead><tr><th class="ps-3">Produs</th><th class="text-center">UM</th><th class="text-end pe-3">Cantitate</th></tr></thead>
                    <tbody>
                    {% for d in detalii %}
                    <tr>
                        <td class="ps-3 fw-semibold">{{ d.denumire }}</td>
                        <td class="text-center"><span class="badge-um">{{ d.unitate_masura }}</span></td>
                        <td class="text-end pe-3">{{ "%.3f"|format(d.cantitate) }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
